<!-- File: templates/patient/_sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="patientSidebar(active)" class="sidebar">
    <div class="sidebar-header">
        <a class="brand" th:href="@{/}">CABS</a>
    </div>


    <nav class="side-nav">
        <a th:href="@{/patient/create-appointment}"
           th:classappend="${active}=='create' ? ' active' : ''">Create Appointment</a>


        <a th:href="@{/patient/appointments-page}"
           th:classappend="${active}=='appointments' ? ' active' : ''">My Appointments</a>


        <a th:href="@{/patient/profile}"
           th:classappend="${active}=='profile' ? ' active' : ''">My Profile</a>


        <a th:href="@{/patient/notifications}"
           th:classappend="${active}=='notifications' ? ' active' : ''">Notifications</a>
    </nav>


    <form th:action="@{/logout}" method="post" class="side-logout">
        <button type="submit">Logout</button>
    </form>
</aside>
</body>
</html>