<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: body">
<body>
<section>
    <h2>Patient</h2>
    <h3>Register</h3>
    <form method="post" th:action="@{/patient/register}">
        <div>
            <label>Email</label>
            <input type="email" name="email" required/>
        </div>
        <button type="submit">Register</button>
    </form>
    <h3>Book Appointment</h3>
    <form method="post" th:action="@{/patient/book}">
        <div>
            <label>Doctor Id</label>
            <input type="number" name="doctorId" required/>
        </div>
        <div>
            <label>Patient Id</label>
            <input type="number" name="patientId" required/>
        </div>
        <div>
            <label>Start UTC</label>
            <input type="datetime-local" name="startUtc" required/>
        </div>
        <button type="submit">Book</button>
    </form>
    <h3>Cancel Appointment</h3>
    <form method="post" th:action="@{/patient/cancel}">
        <div>
            <label>Appt Id</label>
            <input type="number" name="apptId" required/>
        </div>
        <div>
            <label>Patient Id</label>
            <input type="number" name="patientId" required/>
        </div>
        <div>
            <label>By User Id</label>
            <input type="number" name="byUserId" required/>
        </div>
        <button type="submit">Cancel</button>
    </form>
    <div>
        <a th:href="@{/patient/appointments-page}">My Appointments</a>
    </div>
</section>
</body>
</html>
