<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cabs.repository.AppointmentMapper">
    <update id="bookAppointment" statementType="CALLABLE">
        CALL DABS_sp_BookAppointment(#{p_DoctorId}, #{p_PatientId}, #{p_StartUtc})
    </update>
    <update id="bookAppointmentV2" statementType="CALLABLE">
        CALL DABS_sp_BookAppointment(#{p_DoctorId}, #{p_PatientId}, #{p_StartUtc}, #{p_EndUtc}, #{p_ByUserId})
    </update>
    <update id="cancelAppointment" statementType="CALLABLE">
        CALL DABS_sp_CancelAppointment(#{p_ApptId}, #{p_PatientId}, #{p_ByUserId})
    </update>

    <select id="listAppointmentsV2" resultType="com.example.cabs.dto.AppointmentDto" statementType="CALLABLE">
        CALL DABS_sp_ListAppointments(#{p_DoctorId}, #{p_PatientId}, #{p_FromUtc}, #{p_ToUtc})
    </select>
    <select id="listAppointmentsByDoctorV2" resultType="com.example.cabs.dto.AppointmentDto" statementType="CALLABLE">
        CALL DABS_sp_ListAppointmentsByDoctor(#{p_DoctorId}, #{p_FromUtc}, #{p_ToUtc})
    </select>
    <select id="listAppointmentsByPatientV2" resultType="com.example.cabs.dto.AppointmentDto" statementType="CALLABLE">
        CALL DABS_sp_ListAppointmentsByPatient(#{p_PatientId}, #{p_FromUtc}, #{p_ToUtc})
    </select>

    <select id="listAppointments" resultType="com.example.cabs.dto.AppointmentDto" statementType="CALLABLE">
        CALL DABS_sp_ListAppointments(#{p_DoctorId}, #{p_PatientId}, #{p_FromUtc})
    </select>
    <select id="listAppointmentsByDoctor" resultType="com.example.cabs.dto.AppointmentDto" statementType="CALLABLE">
        CALL DABS_sp_ListAppointmentsByDoctor(#{p_DoctorId}, #{p_FromUtc})
    </select>
    <select id="listAppointmentsByPatient" resultType="com.example.cabs.dto.AppointmentDto" statementType="CALLABLE">
        CALL DABS_sp_ListAppointmentsByPatient(#{p_PatientId}, #{p_FromUtc})
    </select>

    <update id="cancelAppointmentByDoctor">
        CALL DABS_sp_CancelAppointmentByDoctor(#{apptId}, #{doctorId}, #{byUserId})
    </update>
</mapper>
